{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $(".vote_icon_down").click(function () {
            $(this).toggleClass("pressed");
            $(this).parent().find(".vote_icon_up").removeClass("pressed");
        });
        $(".vote_icon_up").click(function () {
            $(this).toggleClass("pressed");
            $(this).parent().find(".vote_icon_down").removeClass("pressed");
        });

});
</script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/plotPoint.css' %}" />
    <style>
    </style>
</head>
<body>
<div class="center header">
    <div class="header-left"> <img class="back" src="{% static 'icons/arrow-left.svg' %}" /></div>
    <div class="title">Crowdsourced Story</div>
    <div class="header-right">Username</div>
</div>
<div class="center content-grid">
    <p class="plot plot-point">{{plot_point}}</p>
<div class="votes_wrapper">
    <div class="votes">
        <img class="plot_vote vote_icon_up" src="{% static 'icons/triangle.svg' %}" />
        <img class="plot_vote vote_icon_down " src="{% static 'icons/triangle.svg' %}" />
    </div>
</div>
<div class="choices">
    {% for choice in choices %}
        <div class="btn btn-animation">
            <div class="votes">
                <img class="choice_vote vote_icon_up" src="{% static 'icons/menu-up.svg' %}" />
                <img class="choice_vote vote_icon_down " src="{% static 'icons/menu-up.svg' %}" />
            </div>
            <span >{{ choice }}</span>
        </div>
    {% endfor %}
        <img class="add_choice" src="{% static 'icons/plus.svg' %}" />
  </div>
</div>
</div>

</body>
</html>